.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description {
  background-position: center;
  background-image: url("../../imgs/backgrounds/header.png");
  background-repeat: no-repeat;
  background-size: 101% 102vh;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}
.devider {
  position: absolute;
  width: 100%;
  top: calc(100vh - 50px);
}