.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu {
  display: flex;
  width: 80%;
  height: 60%;
  justify-content: space-between;
}
.menuSkin {
  width: 45%;
  height: 100%;
  background: rgba(17, 17, 17, 0.85);
  border-radius: 24px;
}
.menuRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.menuRightTopWrapper {
  padding-left: 5%;
  padding-top: 5%;
}
.menuRightTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
  background: rgba(17, 17, 17, 0.85);
  border-radius: 24px;
}
.menuRightTopH2 {
  font-family: "Game of Thrones KG";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;

  color: #ffffff;
}
.menuRightTopWrapperP {
  font-family: "pieces-of-eight-cyrillic-aa";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-wrap: nowrap;
  color: #606060;
}
.delimeter {
  margin-top: 1%;
  width: 55%;
  background-color: white;
  height: 1px;
}
.menuRightBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20%;
  background: rgba(17, 17, 17, 0.85);
  border-radius: 24px;
}
.inputLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #181f37;
  border-radius: 32px;
  height: 70%;
  color: white;
  cursor: pointer;
  font-family: "Game of Thrones KG";
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 5%;
  margin-right: 5%;
}
.inputLabel:hover {
  background: #232646;
}
.menuRightBottomButton {
  background: #181f37;
  border-radius: 32px;
  border: none;
  height: 70%;
  color: white;
  cursor: pointer;
  font-family: "Game of Thrones KG";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 5%;
  margin-right: 5%;
}
.description {
  background-position: center;
  background-image: url("../../imgs/backgrounds/sandCastle.png");
  background-repeat: no-repeat;
  background-size: 101% 102vh;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}
.devider {
  position: absolute;
  width: 100%;
  top: calc(100vh - 50px);
}
.modalHeader {
  font-family: "Game of Thrones KG";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 31px;
  color: #ffffff;
}
.button {
  background: rgba(24, 31, 55, 0.5);
  border: 2px solid #181f37;
  border-radius: 36px;
  width: 90%;
  height: 15%;
  text-align: center;
  font-family: "pieces-of-eight-cyrillic-aa";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 24px;
  color: #cccccc;
  border: none;
}
.button:hover {
  background: #132646;
}
.menuRightBottomButton:hover {
  background: #232646;
}
.input {
  background: rgba(24, 31, 55, 0.5);
  border: 2px solid #181f37;
  border-radius: 36px;
  width: 90%;
  height: 15%;
  text-align: center;
  font-family: "pieces-of-eight-cyrillic-aa";
  font-size: 44px;
  line-height: 24px;
  color: #cccccc;
  border: none;
}
.input:focus {
  outline: none;
}
.input:focus::placeholder {
  font-size: 0px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.menuSkinImg {
  width: 50%;
  height: 100%;
  border-radius: 15px 0px 0px 15px;
}