.navbar {
  display: flex;
  justify-content: center;
  width: auto;
  height: 50%;
  font-family: "Game of Thrones";
}
.list {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0px;
  justify-content: center;
  list-style-type: none;
}
.li {
  cursor: pointer;
}
.li:not(:last-child) {
  padding-right: 5%;
}
.img:hover {
  filter: invert(17%) sepia(20%) saturate(6431%) hue-rotate(189deg)
    brightness(87%) contrast(97%);
}
