.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.description {
  border-left: 8px solid #111111;
  border-right: 8px solid #111111;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 99.1%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}
.img {
  height: 100%;
  width: 100.9%;
  object-fit: cover;
  position: absolute;
  z-index: -100;
}
h1 {
  font-family: "Game of Thrones KG";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 124px;
  color: #ffffff;
}
.project {
  position: relative;
  background-image: url("../../imgs/backgrounds/rectangles.png");
  background-position: center;
  background-color: rgb(17, 17, 17);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.h1 {
  position: absolute !important;
  top: 15vh;
}
.devider {
  position: absolute;
  z-index: 999;
  width: 100%;
  top: calc(100vh - 69px);
}

.descriptionDiv {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 6vh;
}
.descriptionDivButton {
  background: rgba(17, 17, 17, 0.75);
  border-radius: 24px;
  border: none;
  width: 22%;
  height: 100%;
  color: white;
  font-family: "Game of Thrones KG";
  font-size: 24px;
  cursor: pointer;
}
.descriptionDivButton:hover {
  background: #181f37;
}
.donateWrapper::-webkit-scrollbar {
  display: none;
}
.donateWrapper {
  position: absolute;
  top: 55vh;
  z-index: 1000;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  height: 130vh;
  justify-content: space-between;
}