body {
  margin: 0;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description {
  position: relative;
  background-position: center;
  background-image: url("../../imgs/backgrounds/news.png");
  background-repeat: no-repeat;
  background-size: 101% 102vh;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
}
h1 {
  font-family: "Game of Thrones KG";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 124px;
  color: #ffffff;
  text-shadow: 0px 0px 1303.28px #ffffff, 0px 0px 383.88px #ffffff,
    0px 0px 109.68px #ffffff, 0px 0px 54.84px #ffffff;
}
.newsWrapper::-webkit-scrollbar {
  width: 0;
}
.newsWrapper {
  top: 40vh;

  overflow-y: scroll;
  height: 155vh;
  left: calc((100vw - 85%) / 2);
  position: absolute;
  z-index: 999;
  width: 85%;
}
.project {
  position: relative;

  background-position: center;
  background-color: rgb(17, 17, 17);
  background-image: url("../../imgs/backgrounds/rectangles.png");

  background-repeat: no-repeat;
  background-size: 101% 102vh;
  height: 100vh;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.descriptionP {
  font-family: "Game of Thrones KG";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 48px;
  text-align: center;
  width: 80%;
  color: #cccccc;
}
.devider {
  position: absolute;
  width: 100%;
  top: calc(100vh - 69px);
}
.descriptionBtn {
  background: #181f37;
  border: 4px solid #232646;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  cursor: pointer;
  font-family: "Game of Thrones KG";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 48px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  width: 20%;
  height: 6%;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
h3 {
  font-family: "Game of Thrones KG";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;

  color: #ffffff;

  text-shadow: 0px 0px 1349.96px #ffffff, 0px 0px 771.408px #ffffff,
    0px 0px 449.988px #ffffff, 0px 0px 224.994px #ffffff,
    0px 0px 64.284px #ffffff, 0px 0px 32.142px #ffffff;
}
.videoplayer {
  width: 90%;
  height: 70%;
}
